@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,400italic");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63b5bdec6d260b7964bcd6aa.63b5bdee716fa6c276a1f38b.LhUrrRo.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

* {
  box-sizing: border-box;
}

.cho-mi-ngi-mnh {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 24px;
  min-height: 192px;
  text-align: justify;
  width: 340px;
  z-index: 1;
}

.bi-vit-c-vit-v {
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 120px;
}

.vector-1 {
  height: 32px;
  left: 45px;
  position: absolute;
  top: 78px;
  width: 60px;
}

.lu-bi-vit-kh {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 108px;
}

.vector-2 {
  height: 40px;
  left: 254px;
  position: absolute;
  top: 109px;
  width: 53px;
}

.vector-3 {
  height: 47px;
  left: 88px;
  position: absolute;
  top: 103px;
  width: 224px;
}

.rectangle-2 {
  background-color: #d9d9d9;
  height: 15px;
  margin-top: 43px;
  width: 12px;
  z-index: 3;
}