/* screen - iphone-14-4 */

.iphone-14-4 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 685px;
  width: 390px;
}

.iphone-14-4 .bc-2-dn-b-cc-v-v-phc-tho {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 25px;
  min-height: 21px;
  text-align: justify;
  width: 336px;
  z-index: 1;
}

.iphone-14-4 .group-15 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 13px;
  min-width: 339px;
  z-index: 3;
}

.iphone-14-4 .image-10 {
  height: 228px;
  width: 169px;
}

.iphone-14-4 .vector {
  height: 236px;
  object-fit: cover;
  width: 170px;
}

.iphone-14-4 .bc-ny-cng-khng {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 15px;
  min-height: 138px;
  text-align: justify;
  width: 340px;
  z-index: 2;
}

.iphone-14-4 .bm-vo-y-c-tip {
cursor: pointer;
  left: 260px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  text-decoration: underline;
  top: 620px;
  width: 78px;
  z-index: 5;
}

.iphone-14-4 .quay-li {
  cursor: pointer;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-decoration: underline;
  top: 620px;
  width: 78px;
  z-index: 6;
}

.iphone-14-4 .rectangle-1 {
  background-color: var(--white);
  height: 40px;
  left: 0;
  position: fixed;
  top: 645px;
  width: 390px;
  z-index: 4;
}
