/* screen - iphone-14-6 */

.iphone-14-6 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 685px;
  padding: 29px 21px;
  width: 390px;
}

.iphone-14-6 .group-16 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 173px;
  width: 344px;
}

.iphone-14-6 .xin-cm-n {
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4px;
  max-height: 48px;
  text-align: justify;
}

.iphone-14-6 .mnh-xin-chn-thnh {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4px;
  max-height: 118px;
  text-align: justify;
}

.iphone-14-6 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 38px;
  height: 63px;
  margin-top: 102px;
  min-width: 290px;
}

.iphone-14-6 .instagram-ca-mnh {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 51px;
  text-align: center;
  text-decoration: underline;
  width: 126px;
}

.iphone-14-6 .bn-c-th-n-vo {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 51px;
  text-align: center;
  text-decoration: underline;
  width: 126px;
}

.iphone-14-6 .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 16.0px;
  margin-top: 61px;
  min-height: 51px;
  text-align: center;
  text-decoration: underline;
  width: 126px;
}
