/* screen - iphone-14-1 */

.iphone-14-1 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 685px;
  width: 390px;
}

.iphone-14-1 .span1 {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.iphone-14-1 .overlap-group1 {
  align-self: center;
  height: 191px;
  margin-right: 6.0px;
  margin-top: 219px;
  position: relative;
  width: 316px;
  z-index: 2;
}

.iphone-14-1 .overlap-group {
  height: 150px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 312px;
}

.iphone-14-1 .bn-c-th-n-vo {
  cursor: pointer;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 0;
  width: 126px;
}

.iphone-14-1 .bm-vo-y-c-tip {
  cursor: pointer;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  text-decoration: underline;
  top: 636px;
  width: 78px;
  z-index: 5;
}

.iphone-14-1 .rectangle-1 {
  background-color: var(--white);
  height: 40px;
  left: 0;
  position: fixed;
  top: 645px;
  width: 390px;
  z-index: 4;
}
