/* screen - iphone-14-5 */

.iphone-14-5 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1848px;
  overflow: hidden;
  width: 390px;
}

.iphone-14-5 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 79px;
  margin-top: 28px;
  min-width: 340px;
  z-index: 1;
}

.iphone-14-5 .tn-ch-m-mnh-c {
  letter-spacing: 0;
  line-height: normal;
  min-height: 78px;
  text-align: justify;
  width: 160px;
}

.iphone-14-5 .artboard-57-1 {
  align-self: flex-end;
  height: 76px;
  object-fit: cover;
  width: 160px;
}

.iphone-14-5 .mnh-bi-cui-k-ln {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  min-height: 55px;
  text-align: justify;
  width: 330px;
  z-index: 2;
}

.iphone-14-5 .group-container-iphone-14-5 {
  height: 636px;
  margin-top: 15px;
  position: relative;
  width: 340px;
  z-index: 3;
}

.iphone-14-5 .group-9 {
  display: flex;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-14-5 .artboard-34-1 {
  height: 176.87px;
  margin-left: 0;
  object-fit: cover;
  width: 176.87px;
}

.iphone-14-5 .image-12 {
  height: 176.87px;
  width: 163.13px;
}

.iphone-14-5 .group-container-group-container {
  height: 460px;
  left: 0;
  position: absolute;
  top: 176px;
  width: 340px;
}

.iphone-14-5 .group-10 {
  display: flex;
  flex-direction: column;
  height: 338px;
  left: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-14-5 .artboard-55 {
  height: 166.58px;
  object-fit: cover;
  width: 340px;
}

.iphone-14-5 .artboard-39-1 {
  height: 171.14px;
  margin-top: 0;
  object-fit: cover;
  width: 340px;
}

.iphone-14-5 .group-11 {
  display: flex;
  height: 123px;
  left: 0;
  position: absolute;
  top: 337px;
  width: 340px;
}

.iphone-14-5 .artboard-51 {
  height: 123px;
  object-fit: cover;
  width: 121px;
}

.iphone-14-5 .ezgif-2-f208f7fc1b-1 {
  height: 123px;
  object-fit: cover;
  width: 219px;
}

.iphone-14-5 .friends {
  height: 10px;
  margin-left: 0.72px;
  margin-top: 9px;
  object-fit: cover;
  width: 46px;
  z-index: 4;
}

.iphone-14-5 .group-6 {
  display: flex;
  margin-top: 18px;
  width: 340px;
  z-index: 9;
}

.iphone-14-5 .image-20 {
  height: 204px;
  width: 136px;
}

.iphone-14-5 .artboard-60 {
  height: 204px;
  object-fit: cover;
  width: 204px;
}

.iphone-14-5 .nhng-chuyn-i {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 6px;
  min-height: 21px;
  text-align: center;
  width: 183px;
  z-index: 5;
}

.iphone-14-5 .group-7 {
  height: 201px;
  margin-left: 1.0px;
  margin-top: 11px;
  position: relative;
  width: 339px;
  z-index: 10;
}

.iphone-14-5 .artboard-42-1 {
  height: 201px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 200px;
}

.iphone-14-5 .image-21 {
  height: 201px;
  left: 199px;
  position: absolute;
  top: 0;
  width: 140px;
}

.iphone-14-5 .mt-m-2-ci-bar {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 5px;
  min-height: 21px;
  text-align: center;
  width: 183px;
  z-index: 6;
}

.iphone-14-5 .group-8 {
  display: flex;
  height: 193px;
  margin-left: 2.0px;
  margin-top: 11px;
  width: 340px;
  z-index: 11;
}

.iphone-14-5 .image-17 {
  height: 192.61px;
  width: 147.39px;
}

.iphone-14-5 .artboard-52 {
  height: 192.61px;
  object-fit: cover;
  width: 192.61px;
}

.iphone-14-5 .last-gift-from-my-ex {
  height: 13px;
  margin-left: 2.04px;
  margin-top: 9px;
  object-fit: cover;
  width: 126px;
  z-index: 7;
}

.iphone-14-5 .group-12 {
  display: flex;
  height: 171px;
  margin-left: 2.0px;
  margin-top: 15px;
  width: 340px;
  z-index: 12;
}

.iphone-14-5 .artboard-66 {
  height: 171.24px;
  margin-top: 0;
  object-fit: cover;
  width: 168.76px;
}

.iphone-14-5 .artboard-45-1 {
  height: 171.24px;
  margin-top: 0;
  object-fit: cover;
  width: 171.24px;
}

.iphone-14-5 .nothing-l-bi-ht-mnh {
  height: 45px;
  margin-left: 1.28px;
  margin-top: 8px;
  object-fit: cover;
  width: 326px;
  z-index: 8;
}

.iphone-14-5 .group-18 {
  align-items: flex-start;
  display: flex;
  height: 40px;
bottom:0;
  left: 0;

  position: fixed;
  bottom:0;
  z-index: 13;
}

.iphone-14-5 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 183px;
  height: 40px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 0 25px;
}

.iphone-14-5 .quay-li {
cursor: pointer;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-decoration: underline;
  top: 630px;
  width: 78px;
  z-index: 6;
}

.iphone-14-5 .bm-vo-y-c-tip {
  cursor: pointer;
  left: 260px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  text-decoration: underline;
  top: 630px;
  width: 78px;
  z-index: 5;
}
