/* screen - iphone-14-2 */

.iphone-14-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 681px;
  width: 390px;
}

.iphone-14-2 .rectangle-1 {
  background-color: var(--white);
  height: 38px;
  left: 0;
  position: fixed;
  top: 643px;
  width: 390px;
  z-index: 2;
}

.iphone-14-2 .overlap-group {
  height: 581px;
  margin-left: 25px;
  margin-top: -10px;
  position: relative;
  width: 340px;
  z-index: 1;
}

.iphone-14-2 .trc-khi-tip-tc {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 340px;
}

.iphone-14-2 .span1 {
  text-decoration: underline;
}

.iphone-14-2 .image-1 {
  height: 369px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 212px;
  width: 340px;
}

.iphone-14-2 .z-thoi {
  cursor: pointer;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  text-decoration: underline;
  top: 642px;
  width: 78px;
  z-index: 3;
}
