:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 40px;
  --font-size-xs: 11px;
 
  --font-family-raleway: "Raleway", Helvetica;
}
.raleway-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.raleway-normal-black-11px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.raleway-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.raleway-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.raleway-normal-black-11px-2 {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 400;
}
